@font-face {
  font-family: "Quicksand Regular";
  src: url("/fonts/Quicksand/static/Quicksand-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand Regular", Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}